:root {
  --PinkishRed: #ff124f;
  --Pink: #ff00a0;
  --LightPink: #fe75fe;
  --LightPurple: #7a04ed;
  --Purple: #120458;
  --Blue: #005678;
  --LightBLue: #05d9e8;
  --DarkBlue: #01012b;
  --Yellow: #f8ef02;
}

@font-face {
  /*https://www.fontspace.com/category/cyberpunk*/
  font-family: CyberFont1;
  src: url(assets/Cyberpunk.otf);
  font-weight: 500;
}

@font-face {
  font-family: CyberFont2;
  src: url(assets/BlenderProBook.woff2);
}

@font-face {
  font-family: CyberFont3;
  src: url(assets/Oxanium.woff2);
}

* {
  margin: 0px 0px 0px 0px;
  padding: 0 0 0 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}

.no-select {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section {
  width: 100%;
  height: 100vh;
}

.BackgroundVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  transform: translateZ(-10px)scale(2);
}

.NavBar {
  min-width: 98.5%;
  height: 20vh;
  display: flex;
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  z-index: 1;
}
.NavRight {
  width: 30%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavCenter {
  width: 60%;
  height: 20vh;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.NavLogo{
  height: 50px;
  width: 75px;
  margin-right: 15px;
}

.NavHeading {
  font-size: 40px;
  color: var(--Yellow);
  font-family: CyberFont2;
  z-index: 1;
}

.NavBar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavBar ul li{
  list-style: none;
}
.NavBar ul li a {
  position: relative;
  text-decoration: none;
  color: var(--Yellow);
  font-family: CyberFont3;
  text-align: center;
  font-size: 25px;
  margin: 0 10px 0 10px;
}

.navbar{
  min-width: 98.8%;
  height: 15vh;
  display: flex;
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--Yellow);}
.navbar ul li a {
    position: relative;
    text-decoration: none;
    color: var(--Pink);
    font-family: CyberFont3;
    text-align: center;
    font-size: 26px;
    margin: 0 10px 0 10px;
    text-shadow: 2px 1px var(--LightBLue);
  }
.navbar ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.wrapper {
  position: absolute;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

::-webkit-scrollbar {
  background-color: var(--DarkBlue);
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Pink);
  border-bottom: 3px solid var(--LightBLue);
  border-right: 4px solid var(--LightBLue);
}*/

h1.cyberpunk.glitched:before {
  animation-name: h1beforeglitched;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.Heading {
  font-family: CyberFont1;
  font-size: 90px;
  color: var(--Yellow);
  animation-name: h1glitched;
  animation-duration: 1.26s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  text-shadow: 5px 8px var(--LightBLue);
  cursor: pointer;
}

.Heading span {
  font-size: 100px;
}



.CyberEthics {
  background-color: var(--LightPurple);
  font-size: 2rem;
  color: wheat;
  padding-top: 20px;
}


@keyframes h1glitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
  }

  10% {
    transform: skew(-20deg);
    left: -4px;
  }

  11% {
    transform: skew(0deg);
    left: 2px;
  }

  100% {
    transform: skew(0deg);
  }
}

@keyframes h1beforeglitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  10% {
    transform: skew(-20deg);
    left: -4px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  11% {
    transform: skew(0deg);
    left: 2px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  50% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  51% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  59% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  60% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  100% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    text-shadow: 2px 2px var(--Pink);
  }
}